dask[complete]>=2025.9.1
dask-expr
graphviz>=0.20.3
jupyterlab>=4.4.1
ipywidgets
pydot
boto3>=1.39.17
botocore>=1.39.17
s3fs>=2025.5.1
scikit-learn>=1.7.1
numpy>=2.2
pandas>=2.2
xlrd
scipy>=1.16.3
bokeh
matplotlib
seaborn
PyYAML
requests>=2.32
pytest>=8.4.2
coverage>=7.13.1
pytest-cov>=6.2.1
pylint>=4.0.1
flake8>=7.1.2